.fair-card {
    aspect-ratio: 3.3/2.1;
    max-height: 300px;
    border-radius: 30px;
    border: 0px;
}

.fair-card2 {
    border-radius: 30px;
}

.container {
    background-image:url("../../assets/imgs/Vector5.png");
    background-repeat: no-repeat;
    background-position: top;
}