<div class="container h-100">
    <div class="row h-100">
        <div class="col-md h-100 vector-a">
            <div class="d-flex flex-column p-5 h-100">
                <div class="d-flex flex-column pb-5 m-auto">
                    <label class="synthek display-1 g-0 me-3"
                        style="margin-bottom: -20px; letter-spacing: 10px;">OCTO</label>
                    <label class="ms-auto g-0 fs-3 fw-bold text-accent" style="letter-spacing: 5px;">PAY</label>
                </div>
                <div class="d-flex flex-column mx-auto mt-auto m-2">
                    <label class="ms-auto g-0 text-accent text-end" style="margin-bottom: -10px">OFFICIAL<br>
                        PAYMENT APP OF</label>
                    <label class="synthek display-4 g-0" style="letter-spacing: 8px;">EPOCH 1.0</label>
                </div>
            </div>
        </div>
        <div class="col-md h-100 vector-b">
            <div class="d-flex flex-column text-center p-5 h-100">
                <div class="m-auto" style="width: 250px;">
                    Octopay is a platform that allows participants of Epoch 1.0 purchase and use the event pass as
                    well as octocoins.
                </div>
                <div class="m-auto" style="width: 250px;">
                    Event pass gives access to the various assortment of events planned out during Epoch.
                </div>
                <div class="m-auto" style="width: 250px;">
                    OctoCoins are the virtual coins which can be used at multiple food stalls, games and events. 10
                    OctoCoins = 20 INR.
                </div>
                <div class="m-auto" style="width: 250px;">
                    Add OctoCoins to your account using online payment methods. We also have a surprise for the
                    person who spent the most OctoCoins
                </div>
                <button class="btn btn-light my-3 fw-bold bg-accent border-0 mx-auto" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</div>